*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: rgba(255, 255, 255, 0.501);
    width:100vw;
    padding: 20px;

}
img{
    width: 40px;
}
#menu{
    display: none;
}

input:checked~#menu{
    border: 2px solid black;
    width: 300px;
    height: 50px;
display: block;
}
button{
    transition-duration: 1s;
    border-radius: 20px;
}
button:hover{
background-color: rgba(222, 66, 66, 0.564);
color: white;
}
